<!-- <%= form_for [@artist] do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
  </div>
  <br />
  <div class = "text ui">
    <%= f.label :genre %>
    <%= f.text_field :genre %>
  </div>
  <br />
  <div class = "button ui">
    <%= f.submit %>
  </div>
<% end %> -->

<%= form_for [@artist] do |f| %>
  <div class = "ui container spacy_space">
    <div class = "spacy_space">
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
  </div>
  <div class = "ui spacy_space">
    <%= f.label :genre %>
    <%= f.text_field :genre %>
  </div>
  <%= f.submit class: "ui button blue white_text" %>
  <!-- <a type="submit" name="commit" value="Create Artist" class = "ui button blue" href="/artists/new">Add Artist</a> -->
  <!-- <button class = "ui button blue white_text">

  </button> -->
<% end %>

<!-- <input type="submit" name="commit" value="Create Artist" data-disable-with="Create Artist"> -->
