<%= form_for [@artist] do |f| %>
  <div class = "ui">
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
  </div>
  <br />
  <div class = "text ui">
    <%= f.label :genre %>
    <%= f.text_field :genre %>
  </div>
  <br />
  <div class = "button ui">
    <%= f.submit %>
  </div>
<% end %>
