<%= form_for [@artist, @song] do |f| %>
<div class="ui container spacy_space">
  <div class="spacy_space">
    <%= f.label :title %>
    <%= f.text_field :title, required: true %>
  </div>
  <div class="ui spacy_space">
    <%= f.label :lyrics %>
    <%= f.text_area :lyrics %>
  </div>
    <%= f.submit class: "ui button blue"%>
<% end %>
