<!--<h1><%= @billboard.id ? 'Edit Billboard' : 'Create a New Billobard' %></h1>-->
<%= form_for @billboard do |f| %>
<div class="ui container spacy_space">
  <div class="spacy_space">
    <%= f.label :name %>
    <%= f.text_field :name, required: true, autofocus: true %>
  </div>
    <%= f.submit class: "ui button white blue_text"%>
<% end %>
