<div class="ui headder container spacy_space">
  <h1 class="centered"><%= @billboard.name %></h1>

</div>
<br>
<button class="ui left attached button"><%= link_to 'Edit Billboard', edit_billboard_path %></button>
<button class="right attached ui button"><%= link_to 'Delete Billboard', @billboard, method: :delete %></button>
<button class="ui button"><%= link_to 'Back to Billboards List', root_path%></button>
<hr>

<div class="spacy_space" id="left">
  <h3>Select a Song To Add:</h3>
  <ul class="ui links">
    <%= form_tag(billboard_songs_path, method: :put) do %>
      <%= hidden_field_tag "id", @billboard.id %>
      <% @all_available_songs.each do |song| %>
        <div>
          <li class="no_dots card">
            <%= song.title %>
            <%= check_box_tag "song_ids[]", song.id, false %>
          </li>
        </div>
      <% end %>
    </ul>
    <%= submit_tag "Add Song", :class => "ui button blue"%>
  <% end %>
</div>
<!-- <br> -->
<vr class="vertical">
<br>
<div class="spacy_space" id="right">
  <ul class="ui links">
    <li class="no_dots"><h2>Songs on <%= @billboard.name %>: </h2></li>
    <%= form_tag(billboard_songs_path, method: :put) do %>
      <%= hidden_field_tag "selected_songs", true %>
      <%= hidden_field_tag "id", @billboard.id %>
      <% @selected_songs.each do |song| %>
        <div>
          <li class="no_dots">
            <%= song.title %>
            <%= check_box_tag "selected_song_ids[]", song.id, false %>
          </li>
        </div>
      <% end %>
      <li class="no_dots"><%= submit_tag "Remove Song", :class => "ui button grey" %></li>
    </ul>

  <% end %>
</div>
